---
import '../styles/global.css';

export interface Props {
    title?: string
}

const { title } = Astro.props;
const pageTitle = title ? `${title} | blog aurum` : 'blog aurum';
---
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/gif" href="/favicon.gif" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>	
</head>